# visual studio code
.vscode/
.idea/

# python
venv/
virtualenv/
__pycache__/
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
docs/build_*

# misc
.DS_Store

train/output
dataset

sandbox.ipynb
sandbox-checkpoint.ipynb
ml1/*.h5
train/*.csv
train/*.png
