[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "3.1.5"
urllib3 = "1.25.9"
jinja2 = "2.11.2"
requests = "*"
twine = "*"
numpy = "*"
scipy = "1.4.1"
seaborn = "*"
jupyter = "*"
pandas = "*"
pytables = "*"
h5py = "*" 
scikit-learn = "*"
tensorflow = "2.1.0"
tensorflow-probability  = "0.8.0"
tensboard = "2.1.0"
ctaplot = "*"
POT = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
